* {
    margin: 0;
    padding: 0;
    font-family: 'Century Gothic', sans-serif;
    box-sizing: border-box;
}

#GraphicDesign{
    width: 100%;
}
.container{
    padding: 5px 5%;
}
.sub-tittle{
    font-size: 60px;
    font-weight: 600;
    color: #8e191c;
}
.Img_carousel{
    padding: 50px;
}
.Img_carousel div{
    background-color: #EF3D3A;
    padding: 20px;
    border-radius: 20px;
    align-items: center;
}

.Img_carousel div img{
    width: 100%;
    border-radius: 20px;
}
@media only screen and (max-width: 550px){
    .Img_carousel{
        padding: 25px;
        justify-content: center;
    }
    .Img_carousel div{
        padding: 10px;
        border-radius: 15px;
    }
    .Img_carousel div img{
        width: 100%;
        border-radius: 15px;
    }
}
@media only screen and (min-width: 551px){

}
@media only screen and (min-width: 700px){

}

@media only screen and (min-width: 900px){

}
@media only screen and (min-width: 1280px){

}
@media only screen and (min-width: 1440px){
}