body {
    color: #ffffff;
}
.TheHeader{
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 100;
}
html{
    scroll-behavior: smooth;
}
#WhoAreWe{
    width: 100%;
    height: 100vh;
    background-image: url("/src/Tatumotions/Images/Whoarewe.png");
    background-repeat: no-repeat;
    background-size: cover;
}