* {
    margin: 0;
    padding: 0;
    font-family: 'Century Gothic', sans-serif;
    box-sizing: border-box;
}
body {
    background: #ffffff;
    color: #ffffff;
}
#services{
    padding: 50px 50px;
}
.container{
    padding: 5px 5%;
}
.sub-tittle{
    font-size: 60px;
    font-weight: 600;
    color: #8e191c;
    margin-top: 50px;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(3,minmax(40px,.5fr));
    grid-gap: 40px;
    padding: 120px;
    margin-top: 20px;
}
.services-list div{
    background-color: #EF3D3A;
    padding: 50px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 20px;
    transition: backround 0.5s, transform 0.5s;
}
.services-list div h2{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 15px;   
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{

    background: #8e191c;
    transform:  translateY(-10px);
}

.services-list div a::after {
    display: block;
        content: '';
    width: 0%;
    height: 2px;
    background: rgb(255, 255, 255);
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: 0.4s;
}
.services-list div a {
    position: relative;  
}

.services-list div a:hover::after{
    width: 100%;
}