body {
    color: #ffffff;
}
.TheHeader{
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 100;
}
#WhoAreWe{
    width: 100%;
    height: 100vh;
    background-image: url("/src/Tatumotions/Images/Whoarewe.png");
    background-repeat: no-repeat;
    background-size: cover;
    /*&::before{
        position: absolute;
        left: 0; 
        right: 0;
        top: 0; 
        bottom: 0;
        background: rgba(255, 255, 255, 0.5);
    }*/
}
